.chef-image {
  width: 80%; 
  position: relative;
  margin: 0 auto;
  transform: translateY(30px);
  opacity: 0;
  transition: all 1s linear;
}

#meet-team {
  clip-path: inset(0 100% 0 0);
  transition: clip-path 1s linear;

}
#brilliant-minds {
  clip-path: inset(0 100% 0 0);
  transition: clip-path 1s linear;
  transition-delay: .2s;

}
#timeline-box {
  width: 90%;
  min-height: 100vh; /* Allow it to expand */
  margin: auto;
  padding: 4rem;
  background: white;
  border-radius: 1.5rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

#inner-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: start; /* Ensures events align properly */
}
.time-stamp {
  background-color: #006045;
  border-radius: 15px;
  color: white;
  font-family: "Urbanist";
  position: absolute;
  padding: 7px 16px;
  top: 0px;
  left: 0px;
  z-index: 50;/
}

.event {
  flex-grow: 1;
}
.event-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Dark overlay */
  z-index: 1; /* Ensures it sits above the background */
}

.event-card {
  height: auto; /* Allows it to adjust to content */
  min-height: 360px;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: white;
  overflow: hidden;
  border: 1px solid #ddd;
  position: relative;
  border: 2px #007a55 solid;  
  box-shadow: 0 0 20px rgba(5, 121, 87, 0.8); /* Emerald glow */
  padding: 10px;
  font-family: "Urbanist" !important;
  color: white;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
}

#card-1 {
  background-image: url("https://images.pexels.com/photos/67468/pexels-photo-67468.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
#card-8 {
  background-image: url("https://images.unsplash.com/photo-1578269174936-2709b6aeb913?q=80&w=3271&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
#card-8 {
  background-image: url("https://images.unsplash.com/photo-1542601906990-b4d3fb778b09?q=80&w=3000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
#card-9 {
  background-image: url("https://images.unsplash.com/photo-1617910025160-e2702fa64abf?q=80&w=3132&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
#card-5 {
  background-image: url("https://images.unsplash.com/photo-1683182623925-211c5053f8b5?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
#card-6 {
  background-image: url("https://images.unsplash.com/photo-1515344905723-babc01aac23d?q=80&w=3276&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

#card-2 {
  background-image: url("https://images.pexels.com/photos/4253303/pexels-photo-4253303.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
#card-3 {
  background-image: url("https://images.pexels.com/photos/612790/pexels-photo-612790.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
#card-4 {
  background-image: url("https://img.freepik.com/free-photo/side-view-blurry-woman-waiting-near-car_23-2149530095.jpg?t=st=1743641795~exp=1743645395~hmac=fb1fa5bca40bad9aa3893c720dbbb198e4025d7eb6e7edf48b441366f3031b56&w=2000");
}
#card-7 {
  background-image: url("https://images.unsplash.com/photo-1466611653911-95081537e5b7?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.event-card > * {
  position: relative;
  z-index: 2;
}

.info-header {
  text-align: center;
  color: #009966;
  font-size: 38px !important;
  padding: 30px 0px;
  line-height: 1.2rem;
}

.timeline-element-l {
  position: relative; /* Ensures the dot is positioned relative to this container */
  border-right: #006045 4px solid;
}

.elem-time {
  padding-top: 6px;
  padding-bottom: 6px;
}


/* Divider positioned under image */
.divider-container {
  position: relative;
  width: 100%;
}

.divider {
  position: relative;
  background: linear-gradient(90deg, transparent, #057957, transparent);
  height: 2px;
  width: 80%; /* Extends beyond container */
  opacity: 0.7;
  z-index: 0; /* Stays behind image */
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width:1200px) {
  #inner-container {
    grid-template-columns: repeat(1, 100%);
  }
  }
@media (max-width:950px) {
  .chef-caption {
    font-size: 10px;
    line-height: 1.6em;
  }
  .chef-role {
    font-size: 14px;
  }
  .chef-name {
    font-size: 20px;
  }
  #members-container {
    gap: 5px;
  }
  
}

@media (max-width:800px) {
  #members-container {
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }
  .chef-image {
    width: 60%;
  }
  .member-container {
    margin: 15px 0;
  }
  .chef-caption {
    font-size: 18px;
    line-height: 1.6em;
  }
  .chef-role {
    margin: 10px 0px;
    font-size: 28px;
  }
  .chef-name {
    font-size: 32px;
  }
  .info-header {
    font-size: 32px;
  line-height: 1.2rem;

  }
  .info-caption {
    font-size: 12px;
  }
}
@media (max-width:620px) {
  .event-card {
    width: 100%;
  }
  #timeline-box {
    padding: 12px 0;
  }
}
@media (max-width:520px) {

  .chef-caption {
    font-size: 14px;
    line-height: 1.6em;
  }
  .chef-role {
    margin: 10px 0px;
    font-size: 24px;
  }
  .chef-name {
    font-size: 28px;
  }
  #members-container {
    width: 95%;
    margin:  auto;
  }
  


}

@keyframes fadeUpClip {
  from {
    opacity: 0;
    transform: translateY(20px);

  }
  to {
    opacity: 1;
    transform: translateY(0);
    clip-path: inset(0%);
  }
}

@keyframes fadeUpClip {
  from {
    opacity: 0;
    transform: translateY(20px);

  }
  to {
    opacity: 1;
    transform: translateY(0);
    clip-path: inset(0%);
  }
}

.chef-name,
.chef-role,
.chef-caption {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s cubic-bezier(0.79, 0.04, 0.84, 0.83),
              transform 0.4s cubic-bezier(0.79, 0.04, 0.84, 0.83),
              clip-path 0.4s cubic-bezier(0.79, 0.04, 0.84, 0.83);
}

.chef-name.visible {
  transition-delay: 0s;
  opacity: 1;
  transform: translateY(0);
  clip-path: inset(0%);
}

.chef-role.visible {
  transition-delay: 0.1s;
  opacity: 1;
  transform: translateY(0);
  clip-path: inset(0%);
}

.chef-image.visible {
  transform: translateY(0px);
  opacity: 1  ;

}
.chef-caption.visible {
  transition-delay: 0.2s;
  opacity: 1;
  transform: translateY(0);
}

#meet-team.visible {
  clip-path: inset(0);
}
#brilliant-minds.visible {
  clip-path: inset(0);
}

.event {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
}
.event-l,
.event-r {
  opacity: 0;
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.event-l {
  transform: translateX(-50px);
}

.event-r {
  transform: translateX(50px);
}

.event-l.visible,
.event-r.visible {
  opacity: 1;
  transform: translateX(0);
}