#our-menu {
  margin-bottom: 48px;  
  transform: translateY(10px);
  opacity: 0;
  transition: all .5s ease ;
}
#menu-description {
  line-height: 2em;
}

#avocado-roll {
  clip-path: inset(100%);
  transform: scale(0);
}
#chow-mein {
  clip-path: inset(100%);
  transform: scale(0);
  display: none;
}
.menu-item {
  font-family: "Forum";
  font-weight: 800;  
}
.description {
  font-size: 18px;
}
.appetizer-item {
  width: 100%;
  padding: 15px;
  position: relative;

}
.tooltip {
  font-family: "Forum";
}
.menu-item-header {
  font-size: 40px !important;
  margin-bottom: 14px
}
.item-ingredients {
  font-size: 22px ;
}


@media (max-width: 1145px) {
  #our-menu {
    margin-bottom: 24px;
  }
}
@media (max-width: 1050px) {
  #menu-flex-container {
    display: flex;
    flex-direction: column-reverse;  /* Stacks the content in a single column */
    width: 100%;             /* Ensures full width */
    gap: 1rem;               /* Optional: Adds space between child elements */
  }
  .menu-flex-item {
    width: 100%;
    text-align: center;
  }
  #menu-description-container {
    margin-top: 140px;
    width: 90%;
  }

  #image-intro-menu {
    width: 80%;

  }
  
  #menu-description {
    width: 100%;
  }
  #our-menu {
    margin-bottom: 14px;  }
  #avocado-roll {
    display: none ;
  }
  #chow-mein {
    display: block;
  }
}